.header {
  height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
}

.nav__links{
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.hero__image {
  position: absolute;
  top: -10px;
  z-index: -1;
  object-fit: contain;
  width: 100%;
}